<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HighTechZone</title>
    <link rel="shortcut icon" href="./assets/images/SoloLogoTP.ico" type="image/x-icon">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Khand:wght@300;500&family=PT+Sans+Narrow&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8495855060.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="nav1">
            <div id="arriba" class="logo">
                <a href="./index.html"><img class="logo1" src="./assets/images/LogoTP.png" alt="logo"></a>
            </div>
            <div class="user-nav">
                <!-- <button id="logout" class="btnLogout">Logout</button> -->                
            </div>            
        </nav>
        <nav class="nav2">
            <div class="user-nav2">
                <a href="./index.html" class="home"><i class="fa-solid fa-house fa-lg" style="color: #000000;"></i></a>
                <a href="./products.html" class="productos">Productos</a>
                <a href="./nosotros.html" class="nosotros">Nosotros</a>
                <a href="./contacto.html" class="contacto">Contacto</a>
            </div>
        </nav>     
       
    </header>
    <main class="mainIndex" id="app">
        <div id="app" class="container">
            <h1 class="text-center h2-title">Administración de Productos</h1>
            <br>
            <a class="btn btn-primary nuevo" href="admin_nuevo_producto.html">Nuevo</a>
            <br><br>
            <div v-if="error">
                <p>Lo sentimos , ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Categoria</th>
                                    <th scope="col">Marca</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">imagenes</th>

                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr  class="align-middle text-center" v-for="product in products">
                                    <td scope="row">{{product.id}}</td>
                                    <td>{{product.title}}</td>
                                    <td>{{product.category}}</td>
                                    <td>{{product.brand}}</td>
                                    <td>{{product.stock}}</td>
                                    <td>{{product.price}}</td>
                                    <td>{{product.description}}</td>
                                    <td> <img :src="product.imagen1" width="50"><img :src="product.imagen2" width="50"><img :src="product.imagen3" width="50"> </td>
                                    <td>
                    			        <a class="tabla modificar" :href="'admin_update_producto.html?id='+product.id">Actualizar</a>
                                        <button type="button" class="tabla eliminar" v-on:click="eliminar(product.id)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>  
        <a href="./administrador.html"><button class="btnLogin" >volver</button> </a>                      
    </main>
    <footer>
        <div id="footer1">
            <a class="volver1" href="#arriba">Volver al inicio</a>            
        </div>
        <div id="footer2">
            <a href="./assets/Políticas, Términos y Condiciones de la Tienda Virtual.pdf" target="_blank">Términos y Condiciones</a>    
            <a href="./ayuda.html">Ayuda</a>                       
        </div>
        <div id="footer3">
            <span>Redes Sociales</span>
            <a href="https://www.facebook.com/" target="_blank"><img src="./assets/images/facebook.png" alt="facebook"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="./assets/images/instagram.png" alt="instagram"></a>
            <a href="https://twitter.com/" target="_blank"><img src="./assets/images/twitter.png" alt="twitter"></a>
        </div>
        <div id="footer4">
            <p>Copyright © 2023, HighTechZone.com</p>
            <p class="ultimo">Buenos Aires, Argentina</p>
        </div>        
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>    
    <script src="./assets/js/admin_productos.js"></script>     
</body>
</html>