/* ------------------------------------------------------------------ */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

/* Paleta de colores
Dark Blue #274472
Midnight Blue #41729F
Blue Gray #5885AF
Baby Blue #C3E0E5 

Logo #ccf1f7
*/

/* font-family: 'Josefin Slab', serif;
font-family: 'Khand', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */


body {
    /* margin: 10 px; */
    margin: 0;
}

header {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* height: 140px; */
    height: auto;
    /* background-color: #274472; */
    /* height: 15vh; */
    background-color: rgb(0, 0, 0);
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;

}

.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    
}

.nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccf1f7;
    /* background-color: black; */
    /* background-color:#5885AF; */
    height: auto;
    margin: 10px -10px;     
}

.logo {
    display: flex;
    align-items: center;
}

.logo1 {
    /* width: 350px; */
    width: 20vw;
    min-width: 300px;  
    /* display: flex;
    min-width: 300px;
    max-width: 350px; */
}

.user-nav {
    display: flex;
    align-items: center;
}

.user-nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin: 0 20px;
    width: 30vw;
    /* width: 400px; */
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #e9e8e8;
    /* margin-left: -30px; */
}

.search-bar input[type="text"] {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: 0 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    color: #242323;
    background-color: #e9e8e8;
}

.search-bar button {
    border: none;
    border-left: 1px solid gray;
    outline: none;
    padding: 0 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    width: 25px;
    padding: 0;
}

.user-nav2 {
    margin: 10px;
    display: flex;
    justify-content: center;
}

.user-nav2 a {
    color: rgb(2, 2, 2);
    text-decoration: none;
    padding: 5px 80px;
    font-size: 16px;
    font-weight: bold;
}

footer {
    padding: 10px;
    height: 170px;
    background-color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

#footer1 {
    display: block;
    align-items: center;
    text-align: center;
    background-color: #ccf1f7;
    margin: 0 -10px;
    padding: 10px;
}

.volver1 {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    width: 100vw;
    height: 19px;
}

#footer2 {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    /* margin-left: -107px; */
    /* margin: 0 -8vw; */
    color: white;      
}

#footer2 a {
    text-decoration: none;
    color: white;
    padding-right: 100px;
}

#footer3 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    color: white;
}

#footer3 img {
    width: 30px;
    padding-right: 10px;
    margin-left: 10px;
}

#footer3 span {
    padding-right: 30px;
}

#footer4 {
    text-align: center;
    color: white;
}

.ultimo {
    margin-top: -15px;
}

@media screen and (max-width: 480px) {
    /* .nav2 {
        padding: 5px 20px;
        background-color: aqua;  
    }
    
    .user-nav2 a {
        display: flex;
        flex-direction: column;
        width: 60px;
    } */

    main {
    background-color: rgb(238, 14, 103);
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .logo {
        display: flex;
        align-items: center;
        width: 300px;
    }

    .logo1 {
        /* width: 300px; */
        width: 50vw;
    }

    .search-bar {
        margin-top: 5px;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        width: 300px;
    }

    .user-nav {
        display: flex;
        justify-content: center;
    }

    .user-nav a {
        margin-top: 10px;
    }
    
    .nav2 {
        margin: 0 -10px;
    }

    .user-nav2 a {
        padding: 5px 20px;
        margin: 0;
    }

    #footer2 a {
        padding: 5px 30px;
    }

    #footer3 span {
        padding-right: 30px;
    }

        /* RESPONSIVE FORMULARIO 450px */

    .form .form-contenedor h3 {
        font-size: 2rem;
    }
}



@media screen and (max-width: 850px) {
    /* header {
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        /* height: 120px; */
    /*} */

    .nav1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /* margin-top: 10px;               */
    }
    
    .logo {
        display: flex;
        align-items: center;
        /* width: 30vw; */
        padding-right: 15px;
    }

    .logo1 {
        /* width: 300px; */
        width: 30vw;
        /* min-width: 00px; */
    }

    .search-bar {
        /* margin-left: 20px; */
        /* display: flex;
        justify-content: center; */
        /* width: 20vw; */
        min-width: 230px;
    }

    /* .search-bar input {
        width: 20vw;
        padding: 0;
    } */

    .user-nav {
        display: flex;
        justify-content: center;
    }
    
    .user-nav2 {
        display: flex;
        justify-content: center;
        /* padding: 0;
        margin: 0; */
    }

    .user-nav2 a {
        padding: 5px 30px;
    }

    main {
        background-color: rgb(42, 165, 73);
    }

    #footer2 {
        /* margin-left: 0 */
        justify-content: space-around;
    }

    /* RESPONSIVE FORMULARIO 850px */

    .root .main-container {
        width: 100%;
        background-position: 60% 50%; 
    }

    .opacity .contactamos-formulario {
        display: none;
    } 
    
    #form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    } 
    
    .form .form-contenedor {
        width: 55%;
        height: 85%;
        background-color: white;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
    }

}

/* Contenedor general */

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

/* FONDO */


.main-container {
    height: 100%;
    width: 100%;
    background-image: url(/img/regalos-navidad.jpg);
    background-size: cover;
    background-position: 0 32%; 
    display: flex;
} 

.opacity {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    height: 100%;
    width: 100%;
    display: flex;
} 


/* SECCIÓN IZQUIERDA */

.contactamos-formulario {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.contenedor-texto {
    margin-bottom: 8rem; 
    width: 80%;
} 

.contactamos-formulario h2 {
    color: #bae6ee;
    font-size: 5rem;
    text-align: center;
} 

.contactamos-formulario p {
    font-size: 1.5rem;
    color: #bae6ee;
    text-align: center;
}  

/* SECCIÓN DERECHA */

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
} 

.form-contenedor {
    width: 45%;
    height: 85%;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.form-contenedor h3 {
    margin: 0;
    font-size: 3.3rem;
    color: #a1d5d5; 
    margin: 1rem 0 1.5rem 10%; 
} 

.formulario { 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario > * {
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
    padding: 0.3rem; 
    border-bottom: 1px solid rgb(183, 183, 183);
    margin-bottom: 2rem;
    width: 80%;
}

.formulario *:focus {
    outline: none;
    border-bottom: 0.1rem solid black; 
}  

.mensaje {
    min-height: 30%;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.formulario .enviar-mensaje {
    background-color: #C3E0E5; 
    border-radius: 0.3rem; 
    border: none;
    min-height: 12%;
}

.enviar-mensaje:hover {
    cursor: pointer; 
    background-color: #a1d5d5;
}

.enviar-mensaje:focus {
    outline: none;
}    
















